.text-center {
  text-align: center;
}
tr.text-center {
  text-align: center;
}

.modal-backdrop {
    position: fixed;
    z-index: 10!important;
    background-color: #000;
}

/*#futsal_background.page-content
{
  background-image:url('../img/Futsal_boots.jpg')!important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left top;
}*/

.scrolling
{
  width: auto!important;
  /*height: 300px !important;*/
  overflow-y: scroll!important;
  display: block!important;
}


  .status-lapangan{
    border-radius: 20px;
    width: 30%;
  }


  .available {
    border: 1px solid #62ff5e;
    color: #62ff5e;
  }

  .no-available{
    border: 1px solid #ff5e5e;
    color: #ff5e5e;
  }

  @media screen and (min-width: 300px) and (max-width: 390px){

      .page-content {
        padding: 10px !important;
        margin-top: 10px !important;
      }

      .page-header .navbar {
        display: none;
        padding-top: 20px;
      }

      .status-lapangan {
            width: 100px !important;
            font-size: 16px;
      }

  }

  @media screen and (min-width: 400px)  and (max-width: 690px){
      .status-lapangan {
            width: 50% !important;
            font-size: 18px;
      }
  @media screen and (min-width: 700px)   and (max-width: 800px){
      .status-lapangan {
            width: 50% !important;
            font-size: 28px;
      }
  }
