.text-center {
  text-align: center;
}
tr.text-center {
  text-align: center;
}

.modal-backdrop {
    position: fixed;
    z-index: 10!important;
    background-color: #000;
}


.portlet>.portlet-title>.caption-right {
    float: right;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}

/*.right {
  right: 20px;
  text-align: right;
  float: right;
}*/

/*#futsal_background.page-content
{
  background-image:url('../img/Futsal_boots.jpg')!important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left top;
}*/

.scrolling
{
  width: auto!important;
  /*height: 300px !important;*/
  overflow-y: scroll!important;
  display: block!important;
}


  .status-lapangan{
    border-radius: 20px;
    width: 30%;
  }


  .available {
    border: 1px solid #62ff5e;
    color: #62ff5e;
  }

  .no-available{
    border: 1px solid #ff5e5e;
    color: #ff5e5e;
  }


  .descLokasi {
      width: 240px;
      margin: 10px 0 0;
      padding: 0;
  }

  .descLokasi .left img {
      width: 25px;
      height: 25px;
      overflow: hidden;
  }

  .descLokasi .left {
      margin: 0;
      padding: 0;
      float: left;
      overflow: hidden;
      width: 25px;
      text-align: center;
      height: 25px;
  }
  .descLokasi .right {
      margin: 0;
      padding: 0;
      float: right;
      overflow: hidden;
      width: 200px;
      line-height: 1.2em;
      color: #333;
  }
  .descLokasi .right .title {
      color: #333;
      background: none;
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 16px;
  }
  .descLokasi .right .subtitle {
      font-size: 14px;
      color: #555;
  }
  .clear {
      clear: both;
  }

  .descLokasibody{
    margin-left: 50px;
  }
  .normalPrice {
      font-size: 28px;
      font-weight: bold;
  }

  @media screen and (min-width: 300px) and (max-width: 390px){

      .page-content {
        padding: 10px !important;
        margin-top: 10px !important;
      }

      .page-header .navbar {
        display: none;
        padding-top: 20px;
      }

      .status-lapangan {
            width: 100px !important;
            font-size: 16px;
      }

  }

  @media screen and (min-width: 400px)  and (max-width: 690px){
      .status-lapangan {
            width: 50% !important;
            font-size: 18px;
      }
  @media screen and (min-width: 700px)   and (max-width: 800px){
      .status-lapangan {
            width: 50% !important;
            font-size: 28px;
      }
  }
