.text-center {
  text-align: center;
}
tr.text-center {
  text-align: center;
}

.modal-backdrop {
    position: fixed;
    z-index: 10!important;
    background-color: #000;
}

/*#futsal_background.page-content
{
  background-image:url('../img/Futsal_boots.jpg')!important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left top;
}*/
